.bg-black {
    background-color: #313131;
}

.appTitle {
    font-family: SansBold;
    font-size: 36px;
    color: white;
    padding-bottom: 0em;
    vertical-align: bottom;
    text-align: center;
}

.navigation {
    color: white;
}

.navigation > a {
    color: white;
    
}

